
h1, h2, h3, h4, h5, h6, p, div#TOC {
    font-family: sans-serif;
}

div.sourceCode {
    border: 1px solid #ddd;
    background: #f6f6f6;
    padding: 0.5em;
    margin: 0.5em;
}

div.sourceCode pre {
    margin: 0;
}

